<div class="main-page">

  <header class="top-page">

    <div class="top">
      <span>SUBSCRIBE</span>
        <ul class="boxes">
          <li class="box-1"></li>
          <li class="box-2"></li>
          <li class="box-3"></li>
          <li class="box-4"></li>
        </ul>
    </div>

  </header>

    <div class="navigation">

      <div class="nav">
        <span class="nav-bars">- SK8T NEWS -</span>
        <span class="nav-bars">- SKATEBOARDERS -</span>
        <span class="nav-bars">- BOARD DESIGN -</span>
        <span class="nav-bars">- CONTACT US -</span>
      </div>

      <div class="top-photo">
        <div class="back-photo">
          <div class="logo">
            <img src="images/peralta-logo.png">
          </div>
        </div>
      </div>

      <div class="nav-circles">
        <ul class="circles">
          <li class="small-circles">
            <div class="red-circle"></div>
          </li>
          <li class="small-circles"></li>
          <li class="small-circles"></li>
        </ul>
      </div>

    </div>

    <div class="articles">

      <div class="tony-hawk">
        <h3>Tony Hawk Foundation Raises Bid Money At Celeb Fundraiser</h3>
          <h5>October 10, 2013</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Alias laudantium, labore temporibus incidunt qui dolores ea
              dicta cumque earum quia animi praesentium eum omnis culpa aut
              assumenda veritatis a atque.</p>
            <div class="buttons">
              <a>[ READ MORE ]</a>
            </div>
      </div>

      <div class="rodney-mullen">
        <h3>Rodney Mullen: Pop an ollie and innovate! (TED Talk)</h3>
          <h5>March 10, 2013</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Totam hic, iure culpa repellat illo amet, suscipit at maiores
              porro vitae repudiandae perferendis, non tenetur atque beatae?
              Ex aliquam, non rerum.</p>
            <div class="buttons">
              <a>[ READ MORE ]</a>
            </div>
      </div>

      <div class="ray-barbee">
        <h3>Ray Barbee Talks 'Ban This'</h3>
          <h5>October 4, 2013</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Harum amet culpa recusandae nulla ex at, rem nostrum, corporis
              earum inventore molestias asperiores aspernatur quia, totam,
              nemo ratione odit nesciunt porro!</p>
            <div class="buttons">
              <a>[ READ MORE ]</a>
            </div>
      </div>

    </div>

    <div class="skateboarders">

      <div class="left-skaters">
        <div class="skater-one">
          <div class="skater-one-picture">
            <h1 class="skater-name">LANCE MOUNTAIN</h1>
          </div>
        </div>

        <div class="skater-two">
          <div class="skater-two-picture">
            <h1 class="skater-name">LANCE MOUNTAIN</h1>
          </div>
        </div>

        <div class="skater-three">
          <div class="skater-three-picture">
            <h1 class="skater-name">LANCE MOUNTAIN</h1>
          </div>
        </div>
      </div>

      <div class="right-skater">
        <div class="skater-four">
          <div class="skater-four-picture">
            <h1 class="skater-name">LANCE MOUNTAIN</h1>
          </div>
        </div>
      </div>

    </div>

    <div class="skateboards">
      <img src="images/sk8-1.png">
      <img src="images/sk8-2.png">
      <img src="images/sk8-3.png">
      <img src="images/sk8-4.png">
      <img src="images/sk8-5.png">
      <img src="images/sk8-6.png">
      <img src="images/sk8-7.png">
      <img src="images/sk8-8.png">
      <img src="images/sk8-9.png">
      <img src="images/sk8-10.png">
    </div>

    <footer>
      <div class="contact-us">
        <h2>Contact Us for More Information</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          Facere, eum. Doloribus, ex, quis. Distinctio necessitatibus
          possimus est, quam delectus nesciunt eaque expedita culpa iure
          fugiat rem, adipisci et consectetur, neque.</p>
          <div class="media"></div>
      </div>

      <div class="contact-info">
          <input type="text" placeholder="NAME">
          <input type="text" placeholder="EMAIL">
          <textarea type="text" id="Message">YOUR MESSAGE</textarea>
        <button>SUBMIT</button>
      </div>
    </footer>

</div>
